.DS_Store
.fastq
.fasta
.fa
*.gz
tests/
udp-code/
work/
.nextflow.*
test.nf
results/
.nextflow
envs
*.log
bin/hla-pred/netmhc
bin/hla-pred/mixmhcpred
bin/hla-pred/netmhcstabpan
local/
tool-analysis/
dbs/
input/
ahocorasick/