.DS_Store
.fastq
.fasta
.fa
*.gz
tests/
udp-code/
work/
.nextflow.*
test.nf
results/
.nextflow
envs
*.log
bin/hla-pred/netmhc
bin/hla-pred/mixmhcpred
bin/hla-pred/netmhcstabpan
tool-analysis/
dbs/
input/
ahocorasick/
local/dbs/
local/logs/  
local/results/
bin/PRIME-2.1.zip
bin/DeepImmuno/
bin/PRIME-2.1/
*.venv
models/data/*immunogenicity*
models/data/*hla*
models/model_input*models/data/
