.DS_Store
.fastq
.fasta
.fa
*.gz
tests/
udp-code/
work/
.nextflow.*
test.nf
results/
.nextflow
envs
*.log
bin/hla-pred/netmhc
bin/hla-pred/mixmhcpred
bin/hla-pred/netmhcstabpan
bin/hla-pred/*
bin/PRIME-2.1.zip
bin/DeepImmuno/
bin/PRIME-2.1/
bin/ml_model
bin/scripts/pyHex.py
tool-analysis/
dbs/
input/
ahocorasick/
local/dbs/
local/logs/  
local/results/
*.venv
models/data/
models/saved_models/*
models/*.zip
models/ml-pipeline/results/*
models/ml-pipeline/.venv*
models/ml-pipeline/*.yaml
models/ml-pipeline/features/*
models/ml-pipeline/fonts/*
models/feat-importance/*
models/feature_distributions/*
models/fonts/*
modules/processes/hlapredictiontools.nf
modules/workflows/hla-pred_workflow.nf