conda.enabled = true
conda.createTimeout = '1h'

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind ${projectDir}/dbs/repitope:/data/repitope"
}

params {

    // NULL FILE
    NO_FILE = "NO_FILE"

    // FLAGS
    use_generatePeptides = false
    use_customPeptides   = true
    use_tap              = true
    use_hlapred          = true
    use_mtec             = true
    use_pathogenicity    = true
    use_selfsimilarity   = true
    use_prime            = true
    use_deepimmuno       = true // ONLY RUNS ON 9, 10mers and 11mers; NaN for ML prioritiser
    use_repitope         = false

    create_feature_table = true
    use_ml_model         = true

    // HLA specific flags
    use_mhcflurry       = true
    use_mhcnuggets      = false
    use_netmhcpan       = true
    use_mixmhcpred      = true
    use_mhcstabpan      = false

    // PIPELINE SETTINGS (Thresholds and Filters)
    pepsickleCleavageThreshold  = 'null' // 0.2
    batchSize                   = 15000
    peptide_lengths             = '8-9-10-11'
    min_peptide_length          = 8
    max_peptide_length          = 11
    filter                      = 'noRefPeps' // 'all' otherwise
    pyHex_weight                = 4 // WARNING, ML model is trained on weight = 4

    // BASE DIRS
    logdir          = "${projectDir}/logs/"

    // SCRIPTS
    generatePeptides        = "${projectDir}/bin/scripts/getPeptidesFromORFs.py"
    pyHexSelfSimilarity     = "${projectDir}/bin/scripts/pyHexBatched.py"
    pyHexPathogenicity      = "${projectDir}/bin/scripts/pyHexPathogenicity.py"
    repitope                = "${projectDir}/bin/scripts/repitope.py"
    prep_deepimmuno         = "${projectDir}/bin/scripts/prepDeepImmunoInput.py"
    process_deepimmuno_out  = "${projectDir}/bin/scripts/processDeepImmunoOutput.py"
    consolidateHlaPredResults = "${projectDir}/bin/scripts/consolidateHlaPred.py"
    buildFeatureTable       = "${projectDir}/bin/scripts/buildFeatureTable.py"
    ml_prediction_script    = "${projectDir}/bin/ml_model/predict.py"

    prioritisation_model    = "${projectDir}/bin/ml_model/hgb_pipeline.joblib"
    model_metadata          = "${projectDir}/bin/ml_model/hgb_pipeline_metadata.json"

    // TOOL DIRS
    deeptap             = "${projectDir}/envs/deeptap/DeepTAP/deeptap.py"
    rundeeptap          = "${projectDir}/bin/scripts/runDeepTAP.py"
    deepimmuno_dir      = "${projectDir}/bin/DeepImmuno"
    prime               = "${projectDir}/bin/PRIME-2.1/PRIME"
    mixmhcpred_binary   = "${projectDir}/bin/hla-pred/mixmhcpred/MixMHCpred"

    // ENVIRONMENTS
    env_deeptap         = "${projectDir}/envs/deeptap/deeptap.yaml"
    env_pepsickle       = "${projectDir}/envs/pepsickle-env"
    env_pathogenicity   = "${projectDir}/envs/pathogenicity/pyHex.yaml"
    env_mtec            = "${projectDir}/envs/mTEC/mtec.yaml"
    env_deepimmuno      = "${projectDir}/envs/deepimmuno-env/deepimmuno.yaml"
    env_featureTable    = "${projectDir}/envs/ml-env/ml_env.yaml"
    env_ml_pred         = "${projectDir}/envs/ml-env/ml_env.yaml"

    // CONTAINERS
    repitope_container  = "${projectDir}/envs/repitope.sif"

    // REFERENCE FILES
    refProteome     = "${projectDir}/dbs/human_reference_sequences.fasta"//NO_refProteome" // "${projectDir}/tool-analysis/input/hct116-ref-sublist.fasta" //" ${projectDir}/tool-analysis/testID-ref.fasta"
    refGff          = "${projectDir}/dbs/NO_FILE" // otherwise "${projectDir}/dbs/Homo_sapiens.GRCh38.115.chr.gff3"

    // DBs
    iedb_peptides             = "${projectDir}/dbs/iedb_all_infectious_peps.txt"
    benign_self_peptides      = "${projectDir}/dbs/HLA_ligand_atlas_selfPeps_length_corrected_2020v12.tsv"
    repitope_dir              = "${projectDir}/dbs/repitope"
    repitope_weights          = "${projectDir}/dbs/repitope/FeatureDF_MHCI_Weighted.10000_RepitopeV3.fst"
    repitope_fragment_library = "${projectDir}/dbs/repitope/FragmentLibrary_TCRSet_Public_RepitopeV3.fst"

    // INPUTS
    customPeptides          = "${projectDir}/input/sreejan/immunoverse_peps.txt"//imm_nonimm_9kcleavedrandself.txt"//validation/iedb_all_peps.txt"//validation/v1_rab-all-u_el-all-test_raj-cryp-u.txt"//"//9kselfcleavedpeps.txt"//randomSelfPeps~10k.txt"//9kcleavedrandself9mers.txt"//cedar_randself_mhc-nbs.txt"//"//"//cedar_mhc_non_binders.txt"//"//random_9k_in_silico_peps.txt"//"""//custom_peptides.txt"
    //taptestIn               = "${projectDir}/results/allNmers/udp-medium.txt" ///results/allNmers/udp-large-c-04-allNmers.txt"
    genesToRemoveFromRef    = "${projectDir}/dbs/ctas.txt" // null
    //tapInput                = "${projectDir}/tool-analysis/input/tap/tap-rand-hct116-refProteome-matchedPeps.txt"
    //deepimmuno_in           =  "${projectDir}/input/deepimmunoin.csv"
    //inputFasta            = ""${projectDir}/input/inputFasta.fa"
    //inputFasta              = "${projectDir}/tests/input/udp-small.fa"

    //inputFasta            = "${projectDir}/tool-analysis/testID-nc.fasta"
    //inputFasta            = "${projectDir}/tool-analysis/input/hct116-udp-sublist.fasta"
    inputFasta              = "${projectDir}/input/hormad1-magea4.fasta"
    //inputFasta              = "${projectDir}/dbs/human_reference_sequences.fasta"
    //inputFasta              = "${projectDir}/dbs/SRR8615282_transcriptProtein.fasta"
    //udp_out               = "${projectDir}/tests/udp-out.fa"
    //udp_out               = "${projectDir}/tests/input/udp-small.fa"

    // HLA WORKFLOW PARAMS
    input_hla_alleles         = "${projectDir}/input/sreejan/immunoverse_alleles.txt"//validation/v1_el-raj-rab_alleles.txt"//input_hla_alleles.txt"//mage_alleles.txt"//2_alleles_cedar_traintest.txt"//" //hla_alleles.txt"
    common_hla_alleles        = "${projectDir}/dbs/common_alleles.txt"
    // min_peptide_length  = 8
    // max_peptide_length  = 11
    hla_batch_size      = 15000

    mhcflurry_env       = "$projectDir/envs/hla-envs/mhcflurry-env"
    mhcnuggets_env      = "$projectDir/envs/hla-envs/mhcnuggets-env"
    mixmhcpred_env      = "$projectDir/envs/hla-envs/mixmhcpred-env"
    netmhc_path         = "$projectDir/bin/hla-pred/netmhc/netMHCpan-4.1/netMHCpan"
    netmhcstabpan_path  = "$projectDir/bin/hla-pred/netmhcstabpan/netMHCstabpan-1.0/netMHCstabpan"

    hlaScripts_path     = "$projectDir/bin/hla-pred"

    // MTEC WORKFLOW PARAMS
    mtec_files                  = "$projectDir/dbs/mtecs/reads/mtec-reads/*.txt"
    mtec_expression_threshold   = 5

    build_automaton             = "$projectDir/bin/scripts/mtec-scripts/build_automaton.py"
    search_mtecs                = "$projectDir/bin/scripts/mtec-scripts/scan_sequences.py"
    merge_mtec_files            = "$projectDir/bin/scripts/mtec-scripts/concatenate_counts.py"

    // OUTPUT DIRS
    hla_out_dir    = "$projectDir/results/hla"
    tapOutName     = "tapOut-rand-hct116-refProteome-matchedPeps.txt"
    outputDir      = "${projectDir}/results"

}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
    // beforeScript = '''
    //                 export LD_LIBRARY_PATH=$CONDA_PREFIX/lib:$LD_LIBRARY_PATH
    //                 export LD_PRELOAD=$CONDA_PREFIX/lib/libstdc++.so.6
    //                 ''' // For mhcnuggets
}

profiles {

    pbs {
        // HPC execution
        conda.enabled = true
        //conda.cacheDir = '/path/to/shared/conda/envs'
        
        process {
            executor        = 'pbs'
            time            = '12 h'
            cpus            = 8
            memory          = '128 GB'
            beforeScript    = 'module load Mamba/23.11.0-0'

            withLabel:Big_Task {
                cpus   = 12
            }
            // withName: MHCNUGGETS {
            //     //beforeScript = 'export LD_LIBRARY_PATH=$CONDA_PREFIX/lib:$LD_LIBRARY_PATH'
            // //     beforeScript = '''
            // //         export LD_LIBRARY_PATH=$CONDA_PREFIX/lib:$LD_LIBRARY_PATH
            // //         export LD_PRELOAD=$CONDA_PREFIX/lib/libstdc++.so.6
            // //         '''
            // }
        }
    }
    
    slurm {
        process {
            executor = 'slurm'
            queue = 'compute'
            cpus = 4
            time = '24 h'
            clusterOptions = '--job-name=nf_udp --output=nf_udp_log.txt'

            withLabel:Big_Task {
                cpus   = 12
            }
        }
    }
}