conda.enabled = true
conda.createTimeout = '1h'

params {

    // NULL FILE
    NO_FILE = "NO_FILE"

    // FLAGS
    use_generatePeptides = false
    use_customPeptides   = true
    use_tap              = false
    use_hlapred          = false
    use_mtec             = false
    use_pathogenicity    = false
    use_selfsimilarity   = true
    use_prime            = false
    use_deepimmuno       = false

    // PIPELINE SETTINGS (Thresholds and Filters)
    pepsickleCleavageThreshold  = 0.2 // 'null'
    batchSize                   = 100000
    peptide_lengths             = '8-9-10-11'
    min_peptide_length          = 8
    max_peptide_length          = 11
    filter                      = 'noRefPeps' // 'all' otherwise

    // BASE DIRS
    logdir          = "${projectDir}/logs/"

    // SCRIPT DIRS
    generatePeptides = "${projectDir}/bin/scripts/getPeptidesFromORFs.py"
    pyHex            = "${projectDir}/bin/scripts/pyHex.py"

    // TOOL DIRS
    deeptap             = "${projectDir}/envs/deeptap/DeepTAP/deeptap.py"
    rundeeptap          = "${projectDir}/bin/scripts/runDeepTAP.py"
    deepimmuno_dir      = "${projectDir}/bin/DeepImmuno"
    prime               = "${projectDir}/bin/PRIME-2.1/PRIME"
    mixmhcpred_binary   = "${projectDir}/bin/hla-pred/mixmhcpred/MixMHCpred"

    // ENVIRONMENTS
    env_deeptap         = "${projectDir}/envs/deeptap/deeptap.yaml"
    env_pepsickle       = "${projectDir}/envs/pepsickle-env"
    env_pathogenicity   = "${projectDir}/envs/pathogenicity/pyHex.yaml"
    env_mtec            = "${projectDir}/envs/mTEC/mtec.yaml"
    env_deepimmuno      = "${projectDir}/envs/deepimmuno-env/deepimmuno.yaml"

    // REFERENCE FILES
    refProteome     = "${projectDir}/dbs/human_reference_sequences.fasta" // "${projectDir}/tool-analysis/input/hct116-ref-sublist.fasta" //" ${projectDir}/tool-analysis/testID-ref.fasta"
    refGff          = "${projectDir}/dbs/NO_FILE" // otherwise "${projectDir}/dbs/Homo_sapiens.GRCh38.115.chr.gff3"

    // DBs
    iedb_peptides           = "${projectDir}/dbs/iedb_all_infectious_peps.txt"
    benign_self_peptides    = "${projectDir}/dbs/HLA_ligand_atlas_selfPeps_length_corrected_2020v12.tsv"

    // INPUTS
    customPeptides          = "${projectDir}/input/cedar_allPeptides_traintest.txt"//custom_peptides.txt"
    //taptestIn               = "${projectDir}/results/allNmers/udp-medium.txt" ///results/allNmers/udp-large-c-04-allNmers.txt"
    genesToRemoveFromRef    = "${projectDir}/dbs/ctas.txt" // null
    //tapInput                = "${projectDir}/tool-analysis/input/tap/tap-rand-hct116-refProteome-matchedPeps.txt"
    deepimmuno_in           =  "${projectDir}/input/deepimmunoin.csv"
    //inputFasta            = ""${projectDir}/input/inputFasta.fa"
    //inputFasta              = "${projectDir}/tests/input/udp-small.fa"

    //inputFasta            = "${projectDir}/tool-analysis/testID-nc.fasta"
    //inputFasta            = "${projectDir}/tool-analysis/input/hct116-udp-sublist.fasta"
    inputFasta            = "${projectDir}/dbs/SRR8615282_transcriptProtein.fasta"
    //udp_out               = "${projectDir}/tests/udp-out.fa"
    //udp_out               = "${projectDir}/tests/input/udp-small.fa"

    // HLA WORKFLOW PARAMS
    hla_alleles         = "${projectDir}/input/2_non-immunogenic_traintest_alleles.txt" //hla_alleles.txt"
    // min_peptide_length  = 8
    // max_peptide_length  = 11
    hla_batch_size      = 4000

    mhcflurry_env       = "$projectDir/envs/hla-envs/mhcflurry-env"
    mhcnuggets_env      = "$projectDir/envs/hla-envs/mhcnuggets-env"
    mixmhcpred_env      = "$projectDir/envs/hla-envs/mixmhcpred-env"
    netmhc_path         = "$projectDir/bin/hla-pred/netmhc/netMHCpan-4.1/netMHCpan"
    netmhcstabpan_path  = "$projectDir/bin/hla-pred/netmhcstabpan/netMHCstabpan-1.0/netMHCstabpan"

    hlaScripts_path     = "$projectDir/bin/hla-pred"

    use_mhcflurry       = true
    use_mhcnuggets      = true
    use_netmhcpan       = true
    use_mixmhcpred      = true
    use_mhcstabpan      = false

    // MTEC WORKFLOW PARAMS
    mtec_files                  = "$projectDir/dbs/mtecs/*.txt"
    mtec_expression_threshold   = 5

    build_automaton             = "$projectDir/bin/scripts/mtec-scripts/build_automaton.py"
    search_mtecs                = "$projectDir/bin/scripts/mtec-scripts/scan_sequences.py"
    merge_mtec_files            = "$projectDir/bin/scripts/mtec-scripts/concatenate_counts.py"

    // OUTPUT DIRS
    hla_out_dir    = "$projectDir/results/hla"
    tapOutName     = "tapOut-rand-hct116-refProteome-matchedPeps.txt"
    outputDir      = "${projectDir}/results"

}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
    // beforeScript = '''
    //                 export LD_LIBRARY_PATH=$CONDA_PREFIX/lib:$LD_LIBRARY_PATH
    //                 export LD_PRELOAD=$CONDA_PREFIX/lib/libstdc++.so.6
    //                 ''' // For mhcnuggets
}

profiles {

    pbs {
        // HPC execution
        conda.enabled = true
        //conda.cacheDir = '/path/to/shared/conda/envs'
        
        process {
            executor        = 'pbs'
            time            = '12 h'
            cpus            = 8
            memory          = '128 GB'
            beforeScript    = 'module load Mamba/23.11.0-0'

            withLabel:Big_Task {
                cpus   = 12
            }
            // withName: MHCNUGGETS {
            //     //beforeScript = 'export LD_LIBRARY_PATH=$CONDA_PREFIX/lib:$LD_LIBRARY_PATH'
            // //     beforeScript = '''
            // //         export LD_LIBRARY_PATH=$CONDA_PREFIX/lib:$LD_LIBRARY_PATH
            // //         export LD_PRELOAD=$CONDA_PREFIX/lib/libstdc++.so.6
            // //         '''
            // }
        }
    }
    
    slurm {
        process {
            executor = 'slurm'
            queue = 'compute'
            cpus = 4
            time = '24 h'
            clusterOptions = '--job-name=nf_udp --output=nf_udp_log.txt'

            withLabel:Big_Task {
                cpus   = 12
            }
        }
    }
}