params {

    // Script Dirs
    generatePeptides = "${projectDir}/scripts/generatePeptides.py"

    // Tool Directories
    deeptap = "${projectDir}/envs/deeptap/DeepTAP/deeptap.py"

    // Environments
    env_deeptap = "${projectDir}/envs/deeptap/deeptap.yaml"

    // inputs
    udp_out = "${projectDir}/tests/udp-out.fa"

    // UDP BELOW
    fastq_files  = "$baseDir/input/*{1,2}.fastq"
    bam_files    = "$baseDir/input/*.bam"
    outputDir    = "$baseDir/results/"
    logdir       = "$baseDir/logs/"
    genomedir    = "$baseDir/genome/"
    annodir      = "$baseDir/anno/"

    variant_db      = true // GATK
    altsplice_db    = true // SPLADDER
    denovo_db       = true // TRINITY
    transcript_db   = true // STRINGTIE KALLISTO
    kmer_db         = false // TODO: create Kmer workflow


    genome_fasta    = "$baseDir/genome/GRCh38.fa"
    refgtf          = "$baseDir/anno/gencode.v48.annotation.gtf"
    refgff          = "$baseDir/anno/gencode.v48.annotation.gff3"
    reffa           = "$baseDir/anno/gencode.v48.transcripts.fa"
    refproteins	    = "$baseDir/anno/gencode.v48.pc_translations.fa"
    knownVCF        = "$baseDir/anno/knownSites2.vcf"

    sepchr			    = '_' // For spliting library id from read files

    //STAR
    twoPassMode		= 'Basic'
    outSAMtype		= 'BAM SortedByCoordinate'
    quantMode		  = 'GeneCounts'
    sjdbOverhang	= 100
    bamRam			  = 44887923392 //43000000000

    //Trinity
    trinityGG     = true

    //ft
    minTPM        = 5

    //Spladder
    mmTag		      = 'nM'

    //Snpeff
    snpeffconfig	= "$baseDir/data/snpEff.config"

}

process {
    executor = 'local'
    cpus = 1
}

conda.enabled = true
conda.createTimeout = '1h'

profiles {
    build {
        // Local Mac testing
        conda.enabled = true
        process.executor = 'local'

    }

    pbs {
        // HPC execution
        conda.enabled = true
        conda.cacheDir = '/path/to/shared/conda/envs'
        
        process {
            executor = 'pbs'
            queue = 'compute'
            cpus = 4
            time = '24 h'
            clusterOptions = '--job-name=nf_udp --output=nf_udp_log.txt'

            withLabel:Big_Task {
                cpus   = 12
            }
        }
    }
    
    slurm {
        process {
            executor = 'slurm'
            queue = 'compute'
            cpus = 4
            time = '24 h'
            clusterOptions = '--job-name=nf_udp --output=nf_udp_log.txt'

            withLabel:Big_Task {
                cpus   = 12
            }
        }
    }
}